.navbar-inverse {
    background-color: #ffc8d9; 
    border-color: #ffb6c9;
}

.navbar-inverse .navbar-brand {
    color: #4a2e2e;
}

.navbar-inverse .navbar-nav > li > a {
    color: #4a2e2e;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #ffb6c9; 
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #ffb6c9;
    color: white;
}
